.colorIndicator {
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  border: 2px solid hsl(var(--background));
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  cursor: pointer;
  background-color: var(--legend-color, transparent);
}

.label {
  font-size: 0.875rem;
  color: var(--label-color, inherit);
}
